$menu-transition-sec: 1.5s;

.exit {
  position: absolute;
  left: 2rem;
  top: 3vh;

  border: none;

  background: none;

  font-size: calc(2.2rem + 0.3vw);
  font-family: inherit;
  color: inherit;

  cursor: pointer;
}

.fade-in {
  animation: fadeIn $menu-transition-sec steps(5, jump-start);
}

.fade-out {
  opacity: 0;
  animation: fadeOut $menu-transition-sec steps(5, jump-start);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
