.homepage {
  &--description {
    position: absolute;
    z-index: 1;
    top: 5vh;
    right: 10vw;

    max-width: 57rem;
    margin-left: 10vw;

    font-size: calc(1.6rem + 0.5vw);
  }
}

.bar-img {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);

  max-width: 1340px;
  max-height: 60vh;

  &_entrance {
    opacity: 0;

    cursor: pointer;
  }

  @media only screen and (max-width: 980px) {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}
