.homepage {
  @media only screen and (max-width: $bp-smallest) {
    font-size: 0.8rem;
  }
}

.homepage__description {
  position: absolute;
  z-index: 1;
  top: 5vh;
  right: 10vw;

  max-width: 57rem;
  margin-left: 10vw;

  font-size: calc($base-font-size + 0.4vw);
}

.bar {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 134rem;
  max-height: 60vh;

  &-entrance,
  &-poster {
    opacity: 0;

    cursor: pointer;
  }
}

.staff {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scaleY(0);
  transition: transform 1s;
  &.opened {
    transform: translate(-50%, -50%) scaleY(1);
  }

  width: 50em;
  background-color: #541945;

  &__title {
    font-size: 6.2em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
  }

  &__list {
    list-style: none;
  }

  &__member {
    display: flex;
    gap: 2em;
    align-items: center;

    padding: 3em;

    &-img {
      width: 12em;
      padding-top: 1em;
      border: 1px solid white;
      border-radius: 2em;
    }

    &-info {
      font-size: 1.6em;
    }

    &-info p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.5s;
}
