.menu {
  &__page {
    padding: 10vh 10vw;

    @media only screen and (max-width: $bp-small) {
      padding: 10vh 0 0 0;
    }
  }

  &__interface {
    position: relative;

    height: 100%;
    padding: 0 1rem 1.5rem 1rem;

    background-color: $font-color;

    overflow: hidden;
  }

  &__welcome-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-size: 2.2rem;

    p {
      &:first-child {
        margin-bottom: 1.8rem;
        font-size: 2.8rem;
      }
    }
  }

  &__navigation-bar {
    display: flex;

    color: $bg-color;
    font-size: calc($base-font-size + 0.5vw);

    list-style: none;
  }

  &__category {
    padding: 0.5rem 0.5rem;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $bg-color;
      color: $font-color;
    }
  }

  &__search-by {
    margin-bottom: 5vh;
  }

  &__main-frame {
    display: grid;
    grid-template-columns: 1fr 2.5fr;

    // height = 100% of the parent - font-size of menu categories
    // - top and bottom paddings of menu categories
    height: calc(100% - calc($base-font-size + 0.5vw) - 1rem);
    padding: 4%;

    background-color: $bg-color;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 1fr 1.5fr;
    }
  }

  &__subcategories {
    font-size: calc(1rem + 1.3vw);
    padding-right: 3rem;
  }

  &__subcategories-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5vh;

    list-style: none;
  }

  &__subcategories-name {
    grid-template-columns: repeat(2, 1fr);
  }

  &__subcategory {
    opacity: 0.6;
    cursor: pointer;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  &__drinks {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 1rem;
    }
  }

  &__drinks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.5rem;

    padding-right: 2rem;

    list-style: none;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__drink {
    width: 48%;
    padding: 1rem 1rem 0 1rem;
    border: 0.2rem solid $font-color;
    border-radius: 2rem;

    font-size: $base-font-size;

    &-img {
      float: left;

      width: 15%;
      min-width: 6rem;
      border: 0.1rem solid $font-color;
      border-radius: 25%;
      margin: 0 3% 1% 0;
    }

    &-header {
      font-size: 2.2rem;
    }

    &-name {
      font-weight: 600;
    }

    p {
      margin-bottom: 3%;
    }

    @media only screen and (max-width: $bp-large) {
      width: auto;
    }
  }
}

.adelhyde {
  color: #f21637;
}
.powdered_delta {
  color: #87acf3;
}
.bronson_extract {
  color: #ffd230;
}
.flanergide {
  color: #a6d26d;
}
.karmotrine {
  color: #47d4d4;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
